<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag("header/profile.png", class: "img-responsive", title: "") %>
                <div class="intro-text">
                    <span class="name"><%= t('distillator') %></span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                </div>
            </div>
        </div>
    </div>
</header>