<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to t('distillator'), root_url, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li><%= link_to(signout_url) do %>
                            <%= t('navigation.application.mainmenu.signout') %>
                            <span class="glyphicon glyphicon-log-out"></span>
                        <% end %></li>
                <% else %>
                    <li><%= link_to(signin_url) do %>
                            <%= t('navigation.application.mainmenu.signin') %>
                            <span class="glyphicon glyphicon-user"></span>
                        <% end %></li>
                    <li><%= link_to(signup_url) do %>
                            <%= t('navigation.application.mainmenu.signup') %>
                            <span class="glyphicon glyphicon-log-in"></span>
                        <% end %></li>
                <% end %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= @current_language.name %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><%= link_to t('navigation.application.mainmenu.english'), make_url_for_en %></li>
                        <li><%= link_to t('navigation.application.mainmenu.russian'), make_url_for_ru %></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>