<div id="footer-box">
  <div id="navigation-shortcuts" class="container">
      <ul class="shortcut col-md-2 col-sm-6 col-xs-12">

      </ul>
      <ul class="shortcut col-md-2 col-sm-6 col-xs-12">

      </ul>
      <ul class="shortcut col-md-2 col-sm-6 col-xs-12">

      </ul>
      <ul class="shortcut col-md-2 col-sm-6 col-xs-12">

      </ul>
      <ul class="shortcut col-md-4 col-sm-12 col-xs-12 social-networks">
          <li class="row">
              <% if I18n.locale == :en %>
                  <div class="col-md-4 col-sm-4 col-xs-4"><%= link_to_social_network("facebook", "https://www.facebook.com") %></div>
                  <div class="col-md-4 col-sm-4 col-xs-4"><%= link_to_social_network("googleplus", "https://plus.google.com") %></div>
                  <div class="col-md-4 col-sm-4 col-xs-4"><%= link_to_social_network("linkedin", "https://www.linkedin.com") %></div>
              <% elsif I18n.locale == :ru %>
                  <div class="col-md-4 col-sm-4 col-xs-4"><%= link_to_social_network("facebook", "https://www.facebook.com") %></div>
                  <div class="col-md-4 col-sm-4 col-xs-4"><%= link_to_social_network("googleplus", "https://plus.google.com") %></div>
                  <div class="col-md-4 col-sm-4 col-xs-4"><%= link_to_social_network("vkontakte", "https://vk.com") %></div>
              <% end %>
          </li>
      </ul>
  </div>
  <div class="clear"></div>
  <div id="legacy-notes">
    <div class="copyright">&copy; <%= t("footer.copyright") %>.</div>
  </div>
</div>