<% if has_flash_any_key_with_message? %>
  <div id="system-flash" class="container">
    <% if flash.key?(:notice) %>
      <div class="notice row">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if flash.key?(:information) %>
      <div class="information row">
        <p><%= flash[:information] %></p>
      </div>
    <% end %>
    <% if flash.key?(:warning) %>
      <div class="warning row">
        <p><%= flash[:warning] %></p>
      </div>
    <% end %>
    <% if flash.key?(:error) %>
      <div class="error row">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </div>
<% end %>
