<%= simple_form_for @user, :url => {:action => action_name},
                    :html => {:id => "user", :class => "html-form" } do |f| %>
    <fieldset>
        <%= hidden_field_tag :redirect, params[:redirect] %>
        <%= f.input :login %>
        <%= f.input :email %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :currency_id, collection: @languages,
                    as: :grouped_select,
                    group_method: :currencies,
                    label_method: :name,
                    value_method: :id,
                    include_blank: false,
                    input_html: { "data-current-language" => @current_language.name } %>
        <%= f.button :submit, button_label  %>
    </fieldset>
<% end -%>
