<div id="signup" class="container row window-box">
    <div class="col-md-offset-3 col-md-6">
        <div class="window-header">
            <h1><%=  %></h1>
        </div>
        <div class="window-content">
            <%= render :partial => "form", :locals => {
                    :action_name => "create", :button_label => t("buttons.signup") } %>
        </div>
    </div>
</div>
