@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic)
@import "system_flash"
@import "html_form"
@import "window-box"
@import "main_footer"

*
  margin: 0px
  padding: 0px

.container
  padding: 0
.row
  margin: 0px

html
  min-height: 100%
  max-height: 100%
  height: 100%

body
  color: #3d3d3d
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  margin: 0 !important

form
  border: none

fieldset
  border: none

img
  border: none
  font-size: 70%

a
  outline: none
  color: #85b9d5

a:hover,
a:focus
  color: #cf0606
  text-decoration: none
  outline: none

textarea
  border: 1px solid #949494
  color: #545454
  font-size: 12px
  height: 90px

input[type=text], input[type=email], input[type=number], input[type=tel]
  border: 1px solid #bbb
  color: #545454
  background: url(primitives/input_bg.png) top repeat-x #f0f0f0
  border-radius: 4px
  height: 24px
  padding: 0px 2px

input[type=submit]
  color: #FFF
  background: #125489
  padding: 6px 15px
  cursor: pointer
  border-radius: 3px
  border: none
input[type=password]
  border: 1px solid #949494
  color: #545454
  background: url(primitives/input_bg.png) top repeat-x #f0f0f0
  border-radius: 4px
  height: 24px
select
  background: #e4e4e4
  border: 1px #949494 solid
  font-size: 11px
  height: 24px
  border-radius: 4px

textarea
  border: 1px solid #949494
  color: #545454
  background: url(primitives/textarea_bg.png) top repeat-x #f0f0f0
  font-size: 12px
  border-radius: 4px
  padding: 0px 2px

header
  text-align: center
  color: #fff
  background: #18bc9c
  .container
    padding-top: 100px
    padding-bottom: 50px
  img
    display: block
    margin: 0 auto 20px
  .intro-text
    .name
      display: block
      text-transform: uppercase
      font-size: 2em
      font-weight: 700
    .skills
      font-size: 1.25em
      font-weight: 300

@media (min-width: 768px)
  header
    .container
      padding-top: 200px
      padding-bottom: 100px
    .intro-text
      .name
        font-size: 4.75em
      .skills
        font-size: 1.75em

@media (min-width: 768px)
  .navbar-fixed-top
    padding: 25px 0
    -webkit-transition: padding .3s
    -moz-transition: padding .3s
    transition: padding .3s
    .navbar-brand
      font-size: 2em
      -webkit-transition: all .3s
      -moz-transition: all .3s
      transition: all .3s
    &.navbar-shrink
      padding: 10px 0
      .navbar-brand
        font-size: 1.5em

.navbar
  text-transform: uppercase
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight: 700
  a:focus
    outline: 0
  .navbar-nav
    letter-spacing: 1px
    li a:focus
      outline: 0

.navbar-default, .navbar-inverse
  border: 0

#container

  #content.greetings
    width: 100%
    margin-top: 115px
    padding: 0px
    >#main-content
      padding: 0px!important
  #content
    min-height: 400px
    margin: 0px auto
    overflow: hidden
    #navigation
      padding: 2em 0 0
    #right-content
      padding: 2em 0px 1.2em 1.2em
    >.html-text
      margin: 10px auto auto 165px
      width: 80%
      h1
        color: #3391d9
      p
        text-indent: 12px
        margin-bottom: 5px
      b
        color: #4B6689
        font-size: 14px
        margin: 10px 0 5px
      >ul
        margin-top: 5px

#main-content
  overflow: hidden
  padding: 1.5em 3em 4em
  min-height: 65vh
  > ul
    li
      list-style-type: square
      margin: 5px 0 0 25px
  a
    outline: none
  a:hover
    text-decoration: none
  ul
    margin: 0 0 10px
    li
      list-style-type: square
      margin: 5px 0 0px 25px
    .list-image
      list-style-type: none
      margin: 0
      padding: 0 0.5em 0 0
      float: left
      white-space: pre-line
      .li-image
        float: left
        padding-right: 1em
      .li-image-right
        float: right
        padding-left: 1em
  ol
    padding-left: 20px
    margin: 0px
    li
      margin: 10px 0
  table
    clear: both
    border: 1px solid #C8C7C7
    border-collapse: collapse
    table-layout: auto
    margin: 10px 0 0 0
    background: #FFF
    width: 100%
    th
      padding: 6px 3px
      background: #e5e5e5
      font-weight: bold
      text-align: left
      a
        color: #3D3D3D
    thead
      tr
        background: #E9E9E9
        color: #000
        text-shadow: 1px 1px #FFF
    table
      border: 0
      margin: 0 !important
      td
        padding: 0
        border: 0
    td
      border: 1px solid #C8C7C7
      padding: 5px
      .plan-name, .plan-price
        display: inline-block
        float: left
  .caption
    margin-top: 10px
  .not-maintained
    margin-top: 20px
    margin-bottom: 20px
    text-align: center
    font-size: 120%
  .project-overview
    background: url(decorators/left_arrow_plate.png) no-repeat
    color: #5D6689
    float: left
    font-size: 10px
    line-height: 100%
    margin-top: 20px
    padding: 4px 7px 10px 9px
    width: 60px
  .project-about
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    background: #fefdfd
    border: 1px solid #EEEEEE
    margin-left: 42px
    min-height: 40px
    padding: 15px 20px 25px 33px
    width: 573px
    clear: right
    p
      text-indent: 10px
      margin-top: 4px
  .currencies:after
    clear: both
  .currencies
    display: inline-block
    float: right
    width: 30%
    margin: 15px 0
    ul
      float: right
      li
        list-style-type: none!important
        margin: 0px 5px!important
        display: inline-block
        a
          img
            opacity: 0.5
        a:hover
          img
            opacity: 1
            transition: 1s
      .active
        a
          img
            opacity: 1
            transition: 1s
  .img-center
    margin: 0 auto
