.html-form
  .error
    clear: both
    display: block
    margin-left: 140px
    font-size: 12px
    font-style: oblique
    color: #ce0807
  .fieldWithErrors
    display: inline
  .formError
    color: #a60304
    margin-left: 140px
    font-size: 11px
    clear: left
  .hint
    clear: left
    float: left
    color: #777777
    font-size: 12px
    font-style: italic
    margin-top: 3px
    margin-left: 140px
  .input.email
    margin-bottom: 10px
    overflow: hidden
  .input
    overflow: hidden
    clear: both
    margin-bottom: 10px
    margin-top: 10px
    #ticket_attachment
      clear: none
      margin: 0px
  .remove_nested_fields
    margin-left: 140px
  .add_nested_fields
    margin-left: 10px
  .add_nested_fields,.remove_nested_fields
    color: #dddddd !important
    text-shadow: -1px -1px 0px #2c4e61
    order-left: 1px solid #cecdcd
    border-right: 1px solid #cecdcd
    border-bottom: 0px
    border-top: 1px solid #fafafa
    background: -o-linear-gradient(#428eb5,#5a6f88)
    background: -webkit-gradient(linear,left top,left bottom, from(#428eb5), to(#5a6f88))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428eb5', endColorstr='#5a6f88')
    background: -moz-linear-gradient(top,  #428eb5,  #5a6f88)
    border-radius: 3px 3px 3px 3px
    -moz-border-radius: 3px 3px 3px 3px
    -webkit-border-radius: 3px 3px 3px 3px
    padding: 6px 15px
    margin-bottom: 10px
    float: left
    text-decoration: none !important
    font-size: 14px !important
  .remove_nested_fields:hover
    text-decoration: none !important
  .checkbox
    clear: left
    margin-left: 140px
    width: 100%
    input[type=checkbox]
      margin-right: 7px
  input[type=text],input[type=email]
    float: left
  #errorExplanation
    border: 1px solid #c8c7c7
    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    margin-bottom: 10px
    margin-top: 10px
    padding: 10px 0px 15px 0px
    width: inherit
    position: relative
    h2:before
      background-image: url(flash/error.png)
      background-repeat: no-repeat
      width: 50px
      height: 50px
      position: absolute
      background-position: 100%
      content: ""
      left: 0
      right: 0
    h2
      font-size: 18px
      color: #a60304
      margin: 0 5px 5px 10px
      padding: 0 0 0 70px !important
      height: 60px
      border-bottom: 1px solid #c8c7c7
      position: relative
      line-height: 50px
    p
      color: #333
      margin-bottom: 0
      padding: 10px 0 0 80px
    ul
      font-size: 12px
      padding-left: 80px
  fieldset
    input
      float: left
      overflow: hidden
    .input.file.required.user_avatar_avatar
      label.file.required.control-label
        margin-left: 140px
      input#user_avatar_avatar.file.required
        clear: left
        margin-left: 140px
        margin-top: 10px
  img
    clear: both
    float: left
    margin: 15px auto 3px 140px
    height: 90px
  img+input[type="text"]
    clear: left
    float: left
    margin-top: 10px
  img+.field_with_errors
    input[type=text]
      margin-left: 10px
  label
    width: 140px
    float: left
    font-size: 14px
    margin-bottom: 7px
  .form-hint
    margin-left: 140px
    font-size: 10px
    clear: left
  input[type="submit"]
    clear: left
    margin-bottom: 20px
    margin-left: 140px
    margin-top: 10px
    font-size: 18px
  input[type="file"]
    display: block
    float: left
  fieldset+p
    margin-left: 140px
    margin-top: 5px
    a
      margin-right: 7px
  .mandatory-sign
    color: #cc6666
  .html-form-header
    border: 0px solid blue
    p
      line-height: 150%
      font-size: 14px
      margin-bottom: 12px
  .html-form-section
    border: 0px solid red
    overflow: hidden
    h2
      color: #3291db !important
      border-bottom: 1px solid #D5D5D5
      font-size: 18px
      margin: 0 !important
      padding-bottom: 6px !important
      padding-left: 0 !important
      label
        float: left
        width: 280px
        margin-left: 7px
        height: 26px
        clear: right
      input[type=radio]
        float: left
        clear: left
    p
      margin: 10px 10px 10px 0
    >li
      margin: 0!important
      display: inline-block
      width: 100%
      .section-label
        display: block
        float: left
        width: 20%
        padding: 0 0.5em 0 0
      .section-field
        display: block
        float: left
        font-weight: bold
        width: 75%
        word-wrap: break-word
  .input.select.optional.user_language_id
    float: left
    width: 100%
    padding: 0px
  .input.grouped_select.optional.user_currency_id
    float: left
    width: 100%
    padding: 0px
  ul
    margin-left: 20px
  fieldset
    ul
      li
        list-style-type: none
        overflow: hidden
        display: block
        input[type=checkbox]
          float: left
          clear: right
          margin: 0px 10px 0 140px
        textarea
          border: 1px solid #949494
          color: #545454
          font-size: 12px
          height: 90px
          width: 75%
          float: left
  .notes
    margin-left: 140px
    a
      padding-right: 1em
      white-space: nowrap