#footer-box
  background: #125489
  #legacy-notes
    text-align: center
    margin-top: 12px
    .copyright
      margin-top: 10px
      font-weight: normal
      text-shadow: none !important
      color: #000
      background-color: #125489
  #navigation-shortcuts
    overflow: hidden
    margin: 0 auto
    .shortcut
      float: left
      list-style: none
      margin: 2em 0
      li
        line-height: 20px
        padding: 0.2em 0
        list-style-type: none
        margin: 0px!important
        #vkontakte,#linkedin,#facebook,#googleplus
          display: inline-block

          margin-bottom: 4px
          height: 57px
          min-width: 57px
        #vkontakte
          background: url(logos/vkontakte.png) no-repeat center top
        #vkontakte:hover
          background: url(logos/vkontakte_active.png) no-repeat center top
        #linkedin
          background: url(logos/linkedin.png) no-repeat center top
        #linkedin:hover
          background: url(logos/linkedin_active.png) no-repeat center top
        #facebook
          background: url(logos/facebook.png) no-repeat center top
        #facebook:hover
          background: url(logos/facebook_active.png) no-repeat center top
        #googleplus
          background: url(logos/google.png) no-repeat center top
        #googleplus:hover
          background: url(logos/google_active.png) no-repeat center top
      .shortcut-title
        padding-left: 0px
        line-height: 1em
        margin-bottom: 10px

        padding-bottom: 5px
        text-transform: uppercase
        color: #85b9d5
        height: 2em
        border-bottom: 1px solid #85b9d5
    .social-networks
      li
        text-align: center
        div
          padding: 0
          #facebook-share, #google-share, #linkedin-share, #vkontakte-share
            display: inline-block
            height: 26px
            width: 57px
          #facebook-share
            background: url(logos/facebook-share.png) no-repeat
          #facebook-share:hover
            background: url(logos/facebook-share_active.png) no-repeat
          #google-share
            background: url(logos/google-share.png) no-repeat
          #google-share:hover
            background: url(logos/google-share_active.png) no-repeat
          #linkedin-share
            background: url(logos/linkedin-share.png) no-repeat
          #linkedin-share:hover
            background: url(logos/linkedin-share_active.png) no-repeat
          #vkontakte-share
            background: url(logos/vkontakte-share.png) no-repeat
          #vkontakte-share:hover
            background: url(logos/vkontakte-share_active.png) no-repeat
  a:hover
    text-decoration: underline