#system-flash

  overflow: hidden

  margin: 0px auto

  position: relative
  > div

    padding: 2em
    margin: 0px auto

    position: relative
    text-align: center
    border: 2px solid #c8c7c7
    border-radius: 4px
    p:before
      background-repeat: no-repeat
      height: 50px
      width: 50px
      content: " "
      position: absolute
      margin-left: -80px
      top: 20%
    p
      display: inline-block
      max-width: 58%
  .notice
    border-color: #2570a9
    color: #2570a9
    p:before
      background-image: url(flash/notice.png)
  .information
    border-color: #2570a9
    color: #2570a9
    p:before
      background-image: url(flash/information.png)
  .warning
    border-color: #eca700
    color: #eca700
    p:before
      background-image: url(flash/warning.png)

  .error
    border-color: #cf0606
    color: #cf0606
    p:before
      background-image: url(flash/error.png)

  .fatal
    border-color: #cf0606
    color: #cf0606
    p:before
      background-image: url(flash/error.png)