.window-box
  margin: 0px auto
  width: 100%
  .window-header
    margin-top: 10px
    margin-bottom: 10px
    h1
      border-bottom: 1px solid #DDD
      padding-bottom: 10px
      display: block!important
    .header-description
      color: #525041
      font-family: Arial
      font-size: 14px
      margin: 0 !important
  .window-content
    overflow: hidden
    text-align: left
    padding: 0px 0px 30px
    >div:nth-last-child(2)
      display: block
      width: auto
      float: left
      margin-top: 20px
      margin-right: 5px
      a:hover
        border: 1px solid #949494
      a
        color: #DDD!important
        text-shadow: -1px -1px 0px #2c4e61!important
        background: #3190db
        border-radius: 3px
        border: 1px solid #e8e8e8
        font-size: 14px
        padding: 8px 15px
        text-decoration: none
    >div:last-child
      display: block

      margin-top: 20px
      a:hover
        border: 1px solid #949494
      a
        color: #DDD!important
        text-shadow: -1px -1px 0px #2c4e61!important
        background: #3190db
        border-radius: 3px
        border: 1px solid #e8e8e8
        font-size: 14px
        padding: 8px 15px
        text-decoration: none
      .button_to
        float: left
    ul
      margin: 0 !important
      li
        padding: 5px 0
        list-style-type: none
        background: transparent!important
        a
          color: #19616D
    >h2+ul
      li
        background: url("decorators/square.png") no-repeat scroll left 3px transparent
        list-style: none outside none
        padding-left: 13px
        margin-left: 0px
    h2
      margin: 0 10px !important
      padding: 5px 0 !important
      border-bottom:  1px solid #d5d5d5
    h2+ul
      margin-left: 10px !important
    .ticket-comments
      width: 100%!important
      float: none!important
    .messages
      width: 100%!important
      float: none!important
    #ticket_form
      fieldset
        >div
          .control-label
            width: 20%
        input.btn
          margin-left: 20%!important
  input[type=submit]
    color: #FFF
    background: #125489
    border-radius: 5px
    font-size: 14px
  p
    text-indent: 0px !important
  .user_allow_email
    margin-top: 10px

  .window-header
    border-bottom: 1px solid #c8c7c7
    padding-top: 3em
    h1
      border-bottom: none!important
      display: inline-block!important