<%= simple_form_for @user_session, :url => {:action => "create"},
   :html => {:id => "session", :class => "html-form" } do |f| %>
  <fieldset>
    <%= hidden_field_tag :redirect, params[:redirect] %>
    <%= f.input :login %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean %>
    <%= f.button :submit, button_label %>
  </fieldset>
<% end -%>
