<!DOCTYPE html>
<html>
<head>
    <title>Decision</title>
    <%= stylesheet_link_tag    'application', :media=> 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <%= render :partial => "/templates/application_main_menu" %>
    <%= render :partial => "/templates/system_flash" %>
    <div id="content" class="greetings">
        <div id="main-content">
            <%= yield %>
        </div>
    </div>
    <%= render :partial => "/templates/main_footer" %>
</div>
</body>
</html>
